body {
 
  background-color: lightblue;
}
#nav-table {
 width: 100%;
  margin-left: auto;
  margin-right: auto;
 background-color: white
}
#nav-td {
  width: 400px; text-align:center;
 padding: 10px;
 height: 70px;
}
#header {

  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
  #pic1-td {
   margin: auto;
}
