body {
 
  background-color: lightblue;
}


 


#nav-table {
 width: 100%;
  margin-left: auto;
  margin-right: auto;
 background-color: white
}
#nav-td {
  width: 400px; text-align:center;
 padding: 10px;
 height: 70px;
}
#header {

  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
  #pic1 {
  padding: 30px;
   width: 300px
    float:left;
   
}
#pic2 {
 padding: 30px;
 width:300px
  float:right;
}
#pic3 {
   padding: 30px;
 width:300px
}
#pic4 {
   padding: 30px;
 width:300px

}


 
 
